global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'orchestrator-api'
    static_configs:
      - targets: ['orchestrator-api:8000']
    metrics_path: '/metrics/prometheus'
    scrape_interval: 10s
    
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']

